# В этом файле можно оставлять комментарии
# Имя файла .gitignore
# Файл нужно создать самостоятельно

# Каждая строчка — это шаблон, по которому происходит игнорирование

# Игнорируется файл в любой директории проекта
INFO.md


# Игнорируется директория в любой директории проекта


# Игнорируется каталог в корне рабочей директории



# Игнорируются все файлы с расширением sqlite3 в директории db,
# но не игнорируются такие же файлы внутри любого вложенного каталога в db
# например, /db/something/lala.sqlite3



# игнорировать все .txt файлы в каталоге doc/
# на всех уровнях вложенности
